.resume-wrapper {
  position: absolute;
  top: var(--header-height);
  left: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--sidebar-width));
  /* padding: 20px 40px; */
}
