.main-container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  padding: 20px;
}

.main {
  display: flex;
}

.sidebar {
  flex: 1;
}

.resume-container {
  flex: 1.75;
  padding: 50px;
}
