.input-section {
  background-color: var(--section-bg);
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 5px 5px 10px var(--section-shadow);
}
