.sidebar {
  background-color: var(--sidebar-bg-color);
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  position: fixed;
}

.sidebar-title {
  text-align: center;
  padding: 10px;
}
